@model Projeto_Final.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenhaUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenhaUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
